/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/

/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700i|Lato:400,700');
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-size: 14px;
    line-height: 1.5em;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}


/*
=========----------------------------------=========
            2.Template Background Css     
=========----------------------------------=========
*/

.main-menu .nav-link {
    color: #888;
}

.logo img {
    width: 150px;
}

.main-menu .nav-bg-col {
    background: rgba(255, 255, 255, .5);
}

/*
=========----------------------------------=========
            3.Hero Area Css     
=========----------------------------------=========
*/

.slide-content-bg-1,
.video-area {
    background: url(../img/slide01.jpg);
}

.slide-content-bg-2 {
    background: url(../img/slide02.jpg);
}

.slide-content-bg-3 {
    background: url(../img/slide03.jpg);
}

.slide-content {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.slide-content:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    z-index: -1;
    opacity: .4
}

.slide-table {
    width: 100%;
    height: 700px;
    display: table;
}

.slide-table-cell {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#slide {
    position: relative;
    z-index: 1;
}

#slide:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    opacity: .65;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    z-index: -1;
}

.slide-txt h1 {
    color: #333;
    font-size: 40px;
    margin-bottom: 25px;
}

.slide-txt span {
    color: #4ABA6F;
    display: block;
}

.slide-txt {
    color: #333;
}

a.boxed-btn {
    display: inline-block;
    color: #333;
    padding: 10px 15px;
    border: 1px solid #333;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    -webkit-transition: .3s;
    transition: .3s;
    margin-top: 20px;
}

a.boxed-btn:hover {
    background: #4ABA6F;
    color: #fff;
    border: 1px solid #4ABA6F;
}



/*
=========----------------------------------=========
            4.Project Link Css     
=========----------------------------------=========
*/

a.proj-link-btn {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 30px 0;
    border: 1px solid #999;
    text-align: center;
    font-size: 20px;
    color: #666;
    transition: .3s;
    margin: 15px 0;
}

.proj-link-btn i.icofont {
    font-size: 39px;
}

a.proj-link-btn:hover {
    background: #4ABA6F;
    color: #fff;
    border: 1px solid #4ABA6F;
}

#project-link {
    margin: 75px 0;
}

/*
=========----------------------------------=========
            5.Gallery Area Css     
=========----------------------------------=========
*/

#gallery {
    background: url(../img/gallery-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

#gallery:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #666;
    content: "";
    opacity: .1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    z-index: -1;
}

.gallery-bg-1 {
    background: url(../img/01.jpg);
}

.gallery-bg-2 {
    background: url(../img/02.jpg);
}

.gallery-bg-3 {
    background: url(../img/03.jpg);
}

.gallery-bg-4 {
    background: url(../img/04.jpg);
}

.gallery-bg-5 {
    background: url(../img/05.jpg);
}

.gallery {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 360px;
    margin-bottom: 25px;
}

.gallery {
    position: relative;
    z-index: 1;
}


.gallery:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .5;
    z-index: -1;
}


.gallery-content a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid #fff;
    margin-top: 15px;
    transition: .3s;
}

.gallery-content a:hover {
    background: #49BA6F;
}

.gallery i.fa {
    font-size: 35px;
    line-height: 360px;
    color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.gallery:hover.gallery i.fa {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.section-title h2 {
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h2:after {
    position: absolute;
    left: 40%;
    bottom: -5px;
    width: 20%;
    height: 3px;
    background: #49BA6F;
    content: "";
}

.gallery-content {
    vertical-align: middle;
    color: #fff;
}

.gallery-content h3,
.gallery-content p {
    margin: 0;
}

/*
=========----------------------------------=========
            6.Doner Goods Area Css     
=========----------------------------------=========
*/

.donate-ifo-input select,
.donate-ifo-input input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
}

.donate-ifo-input input[type="time"],
.donate-ifo-input input[type="date"] {
    border: 1px solid #999;
}

.donate-ifo-input {
    margin: 10px 0;
}

.donate-ifo-input textarea {
    width: 100%;
    padding: 0 15px;
}

.donate-ifo-input span {
    margin-bottom: 5px;
    display: block;
}

.donate-ifo-input button {
    width: 100%;
    height: 35px;
    border: 1px solid #4BBA70;
    margin: 10px 0;
    cursor: pointer;
    color: #4BBA70;
    transition: .3s;
    background: transparent;
}

.donate-ifo-input i.icofont {
    font-size: 20px;
}

.donate-ifo-input button:hover {
    background: #4BBA70;
    color: #fff;
}

.donate-ifo-input input[type="submit"] {
    background: transparent;
    border: 1px solid #4BBA71;
    color: #4BBA71;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
}

.donate-ifo-input input[type="submit"]:hover {
    background: #4BBA71;
    color: #fff;
}

/*
=========----------------------------------=========
            7.PArtner Company Css     
=========----------------------------------=========
*/

.partner-logo-pic {
    margin: 15px 0;
}

.partner-logo-pic {
    margin: 15px;
}

.partner-logo-pic img {
    padding: 10px;
    box-shadow: 0 0 5px #999;
}

/*
=========----------------------------------=========
            7.Login Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            7.Login Css     
=========----------------------------------=========
*/

#login {
    background: url(../img/log-wall.jpg);
    background-size: cover;
    background-position: center;
}

.log-logo img {
    width: 250px;
}

#login {
    position: relative;
    z-index: 1;
    height: 92vh;
}

#login:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    z-index: -1;
    opacity: .6;
}

.log-in-form input {
    width: 75%;
    height: 35px;
    padding: 0 15px;
    border: 1px solid #49BA6F;
    margin: 15px 0;
}

.log-in-form {
    text-align: center;
    margin-top: 40px;
}

.login-content {
    background: rgba(255, 255, 255, .5);
    padding: 75px 0;
    margin: 108px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.log-in-form button {
    display: block;
    width: 50%;
    background: transparent;
    border: 1px solid #49BA6F;
    margin: 15px auto;
    padding: 10px 0;
    color: #49BA6F;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.log-in-form i.icofont {
    display: block;
    font-size: 30px;
}

.log-in-form button:hover {
    background: #49BA6F;
    color: #fff;
}

a.reg-btn-pag {
    display: inline-block;
    text-decoration: none;
    color: #49B96F;
    font-weight: bold;
    font-size: 16px;
}

.pro-pic i.icofont {
    font-size: 85px;
    color: #999;
    border: 1px solid #333;
    display: block;
    width: 160px;
    height: 160px;
    text-align: center;
    line-height: 160px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.pro-pic {
    display: -webkit-box;
}

.pro-pic i.icofont:after {
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    height: 65%;
    content: "160X160";
    font-size: 20px;
    z-index: 0;
}

.pro-pic img {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    z-index: 2;
}

.pro-pic {
    position: relative;
    z-index: 1;
}

/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/

.copy-context p {
    margin: 0;
    padding: 20px 0;
}

.copy-context {
    border-top: 1px solid #48B96E;
}

.copy-right {
    opacity: 0.9;
    color: #48B96E;
}

.copy-context img {
    width: 120px;
    margin-left: 4px;
}

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

.top {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 40px;
    display: none;
    background: #fff;
    border: 2px solid #49BA6F;
    z-index: 99;
    color: #49BA6F;
    -webkit-transition: .3s;
    transition: .3s;
}

.top i.fa {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #49BA6F;
    content: "";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .2s;
    transition: .2s;
}

.top:hover {
    text-decoration: none;
    color: #fff;
}

.top:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
}

.top {
    display: none;
    bottom: 70px;
}


/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FA4C1C;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|                       Project Page CSS                      |
 -------------------=======================----------------
*/

.organizer-project {
    background: url(../img/3.jpg);
    background-position: center;
    background-size: cover;
}


.organi-title h3 {
    line-height: 200px;
    color: #fff;
}

.organizer-project {
    height: 200px;
    position: relative;
    z-index: 1;
}

.organizer-project:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .5;
    z-index: -1;
}

.project-organizer-logo {
    padding: 40px 15px;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
}

a.donate-btn {
    width: 100%;
    text-align: center;
    display: inline-block;
    border: 1px solid #4ABB70;
    color: #4ABB70;
    margin: 10px 0;
    padding: 11px 0px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: .3s;
}

a.donate-btn:hover {
    background: #4CBB72;
    color: #fff;
}

.donate-btn i.icofont {
    display: block;
    font-size: 25px;
}


.pro-detail-piv iframe {
    width: 100%;
    height: 400px;
}


.listing-bg-1 {
    background: url(../img/01.jpg);
}

.listing-bg-2 {
    background: url(../img/02.jpg);
}

.listing-bg-3 {
    background: url(../img/03.jpg);
}

.listing-bg-4 {
    background: url(../img/04.jpg);
}

.listing-bg-5 {
    background: url(../img/05.jpg);
}

.listing-bg-6 {
    background: url(../img/06.jpg);
}

.listing-bg-7 {
    background: url(../img/07.jpg);
}

.listing-bg-8 {
    background: url(../img/08.jpg);
}

.listing-bg-9 {
    background: url(../img/09.jpg);
}

.single-listing-box {
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-color: #000;
    border-radius: 5px;
}

.listing-hover {
    position: absolute;
    left: 10%;
    width: 80%;
    bottom: 30px;
    color: #ddd;
    z-index: 2;
    font-size: 16px;
}

.single-listing-box::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    opacity: .5;
    z-index: 1;
}

.listing-hover h3 {
    color: #fff;
    font-weight: 400;
    font-size: 25px;
}

a.bordered-btn {
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 10px;
    text-decoration: none;
}

.listing-carousel .owl-nav div {
    position: absolute;
    left: -90px;
    top: 50%;
    font-size: 90px;
    opacity: .5;
    line-height: 60px;
    margin-top: -60px;
    z-index: 9;
    color: #fff;
}

.listing-carousel .owl-nav div.owl-next {
    left: auto;
    right: -90px;
}

.listing-carousel.owl-carousel .owl-stage-outer {
    overflow: inherit;
}

.section-padding.listing-carousel-wtaper {
    overflow-x: hidden;
}

.listing-carousel {
    position: relative;
}

.listing-carousel:before {
    position: absolute;
    left: -500%;
    top: 0;
    width: 500%;
    height: 100%;
    content: "";
    background: #fff;
    z-index: 1;
    opacity: .5;
}

.listing-carousel:after {
    position: absolute;
    right: -500%;
    top: 0;
    width: 500%;
    height: 100%;
    content: "";
    background: #fff;
    z-index: 1;
    opacity: .5;
}

.listing-carousel {
    overflow: hidden;
}

.pro-detail-content {
    margin-top: 50px;
}

/* Skillbar css */

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    height: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-bar {
    background: #4CBB72;
    height: 15px;
    width: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    color: #999;
}


.irs-campain-content {
    margin-top: 55px;
}

.irs-campain-content a {
    color: #333;
    text-decoration: none;
}

.irs-campain-content h4 {
    font-weight: 300;
}

#demo {
    font-size: 20px;
    margin-top: 0px;
    color: #666;
}

.project-time h4 {
    font-weight: 300;
}

.project-time {
    margin-top: 42px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

/*
 -------------------=======================----------------
|                       Volunteer Page CSS                      |
 -------------------=======================----------------
*/

.vol-info h4 {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 300;
}


/*
=========----------------------------------=========
            3.Register Pag Css     
=========----------------------------------=========
*/

#register {
    background: url(../img/log-wall.jpg);
    background-position: center;
    background-size: cover;
}

#register {
    position: relative;
    z-index: 1;
}

#register:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    z-index: -1;
    opacity: 0.7;
}

a.reg-btn {
    display: block;
    width: 100%;
    padding: 65px 0;
    color: #000;
    background: rgba(255, 255, 255, .5);
    margin: 15px 0;
    text-decoration: none;
    transition: .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

a.reg-btn:hover {
    background: rgba(73, 186, 111, .7);
    color: #fff;
}

.reg-btn i.icofont {
    font-size: 45px;
}

.reg-btn h4 {
    font-size: 35px;
}

.reg-logo {
    padding: 20px 0;
    margin-bottom: 35px;
}



#register {
    padding: 45px 0px;
    padding-top: 0;
}

.ngo-registered input[type="radio"] {
    display: inline-block;
    width: 25px;
}

.ngo-registered {
    display: inline-flex;
}

.ngo-registered p {
    margin-right: 12px;
    margin-top: 5px;
}

.reg-number {
    display: none;
}

.minus-margin {
    margin-top: -15px;
}

/*
 -------------------=======================----------------
|                       Project Page CSS                      |
 -------------------=======================----------------
*/

.reg-info input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
}

.reg-info span {
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.reg-info {
    margin: 10px 0;
}

.reg-info textarea {
    width: 100%;
    height: 106px;
    padding: 5px 10px;
    resize: none;
}




.file-input-wrapper {
    position: relative;
    width: 100%;
}

.file-input-wrapper > .btn-file-input {
    opacity: 0.8;
    width: 100%;
    height: 50px;
    text-align: left;
    background: transparent;
    border: 0;

    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.file-input-wrapper > input[type="file"] {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}


.reg-info button {
    width: 100%;
    height: 35px;
    border: 1px solid #4BBA70;
    color: #4BBA70;
    font-size: 17px;
    cursor: pointer;
}

.reg-info button:hover {
    background: #4BBA70;
    color: #fff;
}



/*
 -------------------=======================----------------
|                       Project Page CSS                      |
 -------------------=======================----------------
*/
