/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/

/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700i|Lato:400,700');
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-size: 14px;
    line-height: 1.5em;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}


/*
=========----------------------------------=========
            2.Cpanel Css     
=========----------------------------------=========
*/

.main-menu .nav-link {
    color: #888;
}

.logo img {
    width: 150px;
}

.main-menu .nav-bg-col {
    background: rgba(255, 255, 255, .5);
}

/*
=========----------------------------------=========
            3.Register Pag Css     
=========----------------------------------=========
*/

.vol-info h4 {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 300;
}

.vol-info span {
    font-weight: bold;
    margin-right: 10px;
}

/*
=========----------------------------------=========
            4.Home Panel Css     
=========----------------------------------=========
*/

.section-title h2 {
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h2:after {
    position: absolute;
    left: 40%;
    bottom: -5px;
    width: 20%;
    height: 3px;
    background: #49BA6F;
    content: "";
}

.home-menu ul {
    display: block;
    border: 0;
}

.home-menu .nav-tabs .nav-item.show .nav-link,
.home-menu .nav-tabs .nav-link.active {
    border-color: #fff;
}

.cpanel-slide-info span {
    display: block;
    margin-bottom: 5px;
}

.cpanel-slide-info input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #666;
}

.cpanel-slide-info {
    margin: 15px 0;
}


.cpanel-slide-info input[type="submit"] {
    background: #fff;
    border: 1px solid #49BC70;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    color: #49BC70;
    transition: .3s;
}

.cpanel-slide-info input[type="submit"]:hover {
    background: #4BBB71;
    color: #fff;
}

.cpanel-slide-info textarea {
    width: 100%;
    padding: 10px;
}


.ngo-registered input {
    display: inline-block;
    width: 25px;
}

.ngo-registered {
    display: inline-flex;
}

.ngo-registered p {
    margin-right: 12px;
    margin-top: 5px;
}



/*
=========----------------------------------=========
            5.Home Project Link Css     
=========----------------------------------=========
*/

.home-pro-link input {
    width: 100%;
    height: 35px;
    padding: 0 10px;
}

.home-pro-link span {
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
}

.home-pro-link input[type="submit"] {
    border: 1px solid #4FC075;
    color: #4FC075;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
    background: #fff;
    margin-top: 15px;
}

.home-pro-link input[type="submit"]:hover {
    background: #4CBB71;
    color: #fff;
}

.home-pro-link textarea {
    width: 100%;
    padding: 10px;
}

/*
=========----------------------------------=========
            5.Volunteer Css     
=========----------------------------------=========
*/

.alert-vol-info h4 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 8px;
}

.alert-vol-info span {
    font-weight: bold;
    margin-right: 10px;
    line-height: 1.5;
}

.donate-info {
    padding: 15px 15px 0px 15px;
    border: 1px solid #666;
}

.volunteer-accept input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: 1px solid#4BBB72;
    color: #4BBB72;
    cursor: pointer;
    transition: .3s;
    margin: 15px 0;
}

.volunteer-accept input:hover {
    background: #4EC776;
    color: #fff;
}

.volunteer-accept-hid {
    opacity: .5;
}

.volunteer-accept-hid img {
    filter: grayscale(100%);
}


.volunteer-accept-hid {
    position: relative;
    z-index: 1;
}

.volunteer-accept-hid:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "\ebbd  thanks for you good Work \ebbd";
    font-size: 30px;
    font-family: icofont;
    icofont: ;
    color: #4CBB71;
    text-align: center;
    z-index: 2;
    background: rgba(255, 255, 255, .5);
    margin-top: ;
    line-height: 300px;
}

.vol-analytics {
    margin: 15px 0;
    border-bottom: 1px solid #999;
    padding-bottom: 15px;
}

.cm-identity {
    font-size: 25px;
}

/*
=========----------------------------------=========
            3.Register Pag Css     
=========----------------------------------=========
*/

#register {
    background: url(../img/log-wall.jpg);
    background-position: center;
    background-size: cover;
}

#register {
    position: relative;
    z-index: 1;
}

#register:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    z-index: -1;
    opacity: 0.7;
}

a.reg-btn {
    display: block;
    width: 100%;
    padding: 65px 0;
    color: #000;
    background: rgba(255, 255, 255, .5);
    margin: 15px 0;
    text-decoration: none;
    transition: .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

a.reg-btn:hover {
    background: rgba(73, 186, 111, .7);
    color: #fff;
}

.reg-btn i.icofont {
    font-size: 45px;
}

.reg-btn h4 {
    font-size: 35px;
}

.reg-logo {
    padding: 20px 0;
    margin-bottom: 35px;
}



#register {
    padding: 45px 0px;
    padding-top: 0;
}

.ngo-registered input[type="radio"] {
    display: inline-block;
    width: 25px;
}

.ngo-registered {
    display: inline-flex;
}

.ngo-registered p {
    margin-right: 12px;
    margin-top: 5px;
}

.reg-number {
    display: none;
}

.minus-margin {
    margin-top: -15px;
}

/*
=========----------------------------------=========
            6.Header Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            7.Welcome Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/

.copy-context p {
    margin: 0;
    padding: 20px 0;
}

.copy-context {
    border-top: 1px solid #48B96E;
}

.copy-right {
    opacity: 0.9;
    color: #48B96E;
}

.copy-context img {
    width: 120px;
    margin-left: 4px;
}

/*

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

.top {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 40px;
    display: none;
    background: #fff;
    border: 2px solid #FA4C1C;
    z-index: 99;
    color: #FA4C1C;
    -webkit-transition: .3s;
    transition: .3s;
}

.top i.fa {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #FA4C1C;
    content: "";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .2s;
    transition: .2s;
}

.top:hover {
    text-decoration: none;
    color: #fff;
}

.top:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
}

.top {
    display: none;
    bottom: 70px;
}


/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FA4C1C;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|                       BLOG PAGE CSS                      |
 -------------------=======================----------------
*/
